@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', cursive;
    background: #000000;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #1e1d1d;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

form {
    background-color: #1e1d1d;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
}

label, textarea, input {
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

textarea {
    border-radius: 8px;
    height: 100px;
    resize: vertical;
}

input[type="submit"] {
    font-family: 'Bebas Neue', cursive;
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #bc0710;
    color: #000000;
}


a {
    border-radius: 15px;
    border: 2px solid #FF2F28;
    color: #e50914;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 25px;
}

a:hover {
    background-color: #e50914;
    color: #FFFFFF;
}
